body {
    background: #0d0d0d;
    color: white;
    font-family: "Cairo", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.chat-container {
    width: 650px;
    text-align: center;
}

.title {
    margin-bottom: 10px;
    color: #8b72ff;
}

.users-list {
    background: #141414;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: right;
    max-height: 80px;
    overflow-y: auto;
}

.messages {
    height: 320px;
    background: #1a1a1a;
    overflow-y: auto;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: right;
}

.messages p {
    margin: 6px 0;
}

.system {
    color: #6b6b6b;
    font-size: 14px;
}

.you {
    color: #72ffb0;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
}

button {
    padding: 12px 18px;
    background: #6c4bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

.voice-btn {
    margin-top: 20px;
    width: 100%;
}
