body {
    margin: 0;
    font-family: "Cairo", sans-serif;
    direction: rtl;
    background: url("misterai-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #8a8aff;
}

.container {
    display: flex;
    padding: 20px;
}

.users-box {
    width: 20%;
    background: rgba(0,0,0,0.4);
    padding: 15px;
    border-radius: 8px;
    height: 70vh;
    overflow-y: auto;
}

.users-box h2 {
    color: #a8a8ff;
}

.chat-box {
    width: 80%;
    margin-right: 15px;
    background: rgba(0,0,0,0.4);
    border-radius: 8px;
    padding: 15px;
}

#messages {
    height: 55vh;
    overflow-y: auto;
    padding: 10px;
}

.input-area {
    display: flex;
    gap: 10px;
    position: relative;
}

#emojiBtn {
    font-size: 22px;
    width: 50px;
    background: #444;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#msgInput {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

#sendBtn {
    background: #6a5cff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
}

.emoji-panel {
    position: absolute;
    bottom: 60px;
    right: 50px;
    background: rgba(0,0,0,0.85);
    padding: 10px;
    border-radius: 8px;
    width: 230px;
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.hidden {
    display: none;
}

.talk-btn {
    margin-top: 15px;
    background: #5c4cff;
    border: none;
    padding: 15px;
    width: 100%;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.talk-btn.recording {
    background: red;
}

#speakingStatus {
    margin-top: 10px;
    color: #00ffea;
    font-size: 20px;
    font-weight: bold;
}
